.teamHeader {
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  flex-wrap: wrap;
}

.teamLayout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .teamLayout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .teamHeader {
    padding: 1.5rem;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }
}
